<a class="pokemon">
  <section class="pokemon__status">
  <h2>
    Bumbasaur
  </h2>

  <ul>
    <li>Grass</li>
    <li>Poison</li>
  </ul>
</section>
<section class="pokemon__image">
  <img src="../../../../assets/pokemon/image 1.png" alt="">
</section>
</a>

<a class="pokemon">
  <section class="pokemon__status">
  <h2>
    Bumbasaur
  </h2>

  <ul>
    <li>Grass</li>
    <li>Poison</li>
  </ul>
</section>
<section class="pokemon__image">
  <img src="../../../../assets/pokemon/image 1.png" alt="">
</section>
</a>
